.navbar{
    background-color: #141414;
}

.navbar .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar a, .navbar span{
    color: white !important;
}


.date{
    font-size: 0.75rem;
    font-weight: 300;
    margin: auto 0;
}

.time{
    font-size: 1.1rem;
    margin: 0 18px;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .navbar .container-fluid{
        flex-direction: row;
        justify-content: space-between;
    }
}