.news {
    padding: 0 10%;
}

.news .container {
    text-align: center;
    ;
}

.row.container {
    padding: 0;
}

.top-headlines {
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 4rem;
    font-weight: 600;
}

.top-headlines .row {
    padding: 0;
    margin: 0;
}

.category-container {
    display: flex;
    margin-right: 40px;
    margin-top: 40px;
    justify-content: space-between;
}

span.category {
    cursor: pointer;
    font-weight: 300;
}


.prev-next .btn {
    width: 120px
}


.loader {
    margin: 20% 0 30%;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .news {
        padding: 0;
    }

    .top-head-right {
        display: none;
    }

    .category-container {
        /* padding: 5%; */
        text-align: left;
        display: inline;
        margin-top: 40px;
    }

    span.category {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .container.row {
        margin: 0 auto;
    }

    .prev-next .btn {
        margin: 0 6px !important;
    }

}