.news {
    padding: 0 10%;
}

.news .container {
    text-align: center;
}

.row.container {
    padding: 0;
}

.top-headlines {
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 4rem;
    font-weight: 600;
}

.top-headlines .row {
    padding: 0;
    margin: 0;
}

.search-bar {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.search-bar input {
    margin: 0 10px;
    width: 30%;
}

.category-container {
    display: flex;
    margin-right: 40px;
    margin-top: 40px;
    justify-content: space-between;
    padding: 5%;
}

li.category {
    cursor: pointer;
    font-weight: 300;
}


.prev-next .btn {
    width: 120px
}


.infinite-scroll-component{
    text-align: center;
    padding-left: 25px;
}


.loader {
    margin: 10% 0 10%;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .news {
        padding: 0;
    }

    .top-head-right {
        display: none;
    }

    .top-headlines {
        margin: 15% 0 5%;
        font-size: 3rem;
    }

    .search-bar input {
        width: 50%;
    }

    .cat-container{
        padding: 0 20%;
    }

    .category-container {
        /* text-align: left; */
        display: inline;
        margin-top: 40px;
    }

    li.category {
        width: 100%;
        padding: 4%;
        font-size: 0.8rem;
        font-weight: 400;
        list-style: none ;
        border: 0.1px solid black;
        border-style: none none solid none;
    }

    .container.row {
        margin: 0 auto;
    }

    .infinite-scroll-component{
        padding-left: 0;
    }

}